node_modules
.env
.DS_Store
coverage
*.log
*.tsbuildinfo
tmp
temp
*.local
*.swp
*.swo
*.bak
*.orig
/.git
/.gitignore
/.babelrc
/.eslintrc
/.prettierrc
/.prettierignore
/.nycrc
/.vscode
/.idea
/.env*
/.DS_Store